

:root {
    --main-bg-color: #ecf0f1;
    --main-font-family: 'Rubik', sans-serif;
    --main-footer-bgr-color: rgba(235, 0, 0, 0.99);
    --main-footer-color: rgba(245, 255, 61, 1);
    --btn--bgr-color: rgba(255, 207, 15, 1);
}
